<div id="header" class="container">
  <%= render "shared/header" %>
</div>
<div class="knowledge">
  <div class="image"></div>
</div>

<div id="home" class="scrollto">
</div>
<div id="work" class="scrollto">
    <!-- Your content goes here -->
</div>
<div id="articles" class="scrollto">
    <!-- Your content goes here -->
</div>
<div id="projects" class="scrollto">
    <!-- Your content goes here -->
</div>
<div id="contact" class="scrollto">
    <!-- Your content goes here -->
</div>
