<div id="header">
  <%= render "shared/header" %>
</div>
<div class="knowledge">
  <div class="image">
    <div class="bg">
      <div class="container">
        <h2>DRY - DON'T REPEAT YOURSELF</h2>
        <small>By Andy Hunt & Dave Thomas</small>
      </div>
    </div>
  </div>
</div>

<div class="section container">
  <div id="about">
    <div class="section-title">
      <div class="border left-border"></div>
      <h2>BIOGRAPHY</h2>
      <div class="border right-border"></div>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean interdum pretium ligula. Quisque cursus ex nulla, quis facilisis felis eleifend et. Etiam fringilla tempor ligula a mattis. Sed vel purus eros. Sed dapibus et justo eu interdum. Donec at nunc est. Curabitur accumsan bibendum risus, ut faucibus ex molestie id. Nulla lobortis velit sit amet lectus efficitur, sit amet vestibulum nibh auctor. Cras quis bibendum ligula, vitae sodales felis. Duis ultricies est maximus neque faucibus, sed gravida nisl dapibus. Aenean at turpis at ex commodo consequat.</p>
    <p>Integer non luctus tellus. Fusce metus massa, vehicula a pellentesque scelerisque, tincidunt a augue. In ut diam lacinia, rhoncus eros a, tincidunt mi. Fusce at aliquet purus. Pellentesque congue enim vel eros lobortis vehicula. Integer dapibus eu nibh id ultrices. Donec consequat tincidunt gravida. Aliquam ac libero eros. Aliquam accumsan ex non quam interdum, eu ullamcorper metus placerat. Fusce mattis elit dictum purus molestie, eget viverra turpis faucibus. Praesent vel lorem in eros vehicula tempor nec nec neque. Cras sollicitudin orci non ligula facilisis molestie. Curabitur eu sem nec nibh pretium viverra sed eget ipsum. Aenean mollis volutpat eleifend. Ut lacinia eu tortor ut molestie.</p>
    <p>In tincidunt non justo sed imperdiet. Aenean varius sollicitudin scelerisque. Aliquam consequat mi a luctus ultricies. Nam sollicitudin ex at velit ultricies, eu feugiat dolor sagittis. Morbi eget vulputate tortor. Nulla facilisi. Cras dignissim ultricies purus quis vestibulum. Pellentesque vestibulum, nulla a auctor porttitor, quam tortor blandit arcu, at euismod velit libero sit amet diam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed ut scelerisque erat, et viverra nulla. Aliquam in magna fringilla, euismod tortor a, pharetra nibh. Curabitur molestie nisi libero, quis hendrerit nisl volutpat sed. Phasellus nulla sapien, commodo ut ultrices id, pretium at dui. Ut ultricies felis vel orci condimentum, at blandit diam suscipit. Etiam quis sem mattis, vulputate enim vel, condimentum enim.</p>
  </div>

  <div id="area-of-expertise">
    <div class="section-title">
      <div class="border left-border"></div>
      <h2>AREAS OF EXPERTISE</h2>
      <div class="border right-border"></div>
    </div>
    <div class="php">
      <div class="title">PHP:</div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
          <div class="left">Drupal 7</div>
          <div class="right">95%</div>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
          <div class="left">Drupal 8</div>
          <div class="right">60%</div>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
          <div class="left">Laravel</div>
          <div class="right">40%</div>
        </div>
      </div>
    </div>
    <div class="ruby">
      <div class="title">Ruby:</div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
          <div class="left">Ruby on Rails</div>
          <div class="right">30%</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="design-image">
  <div class="design_bg left"></div>
  <div class="design_bg right"></div>
  <%= image_tag('shutterstock_316612367.jpg') %>
</div>
<%= render "homepage/sections/portfolio" %>
<div id="articles" class="section">
    <!-- Your content goes here -->
</div>
<div id="projects" class="section">
    <!-- Your content goes here -->
</div>
<div id="contact" class="section">
    <!-- Your content goes here -->
</div>
