<div id="about">
  <div id="trigger-biography"></div>
  <div class="container">
    <div class="section-title">
      <div class="border left-border"></div>
      <h2>BIOGRAPHY</h2>
      <div class="border right-border"></div>
    </div>
    <h3>Hello!</h3>
    <p>My name is Audrius Bukauskas. Originally from Lithuania but currently living and working in London.</p>
    <p>I am an all-round web developer. My prime skill is back-end developing using PHP but can also work on frontend and server side.</p>
    <p>I have been coding for fun or business for the last <%= years_since('2005-01-01') %> years. I am passionate about programming, always keen to learn new technologies and follow tech related news.</p>
    <h3 class="contact-me-if"><a href="#contact">Contact me if ...</a></h3>
    <div class="hire-if-wrapper">
      <p class="bold hire-title">1. You need a back-end developer.</p>
      <p>I specialise in PHP development, especially using <span class="bold">Laravel</span> framework. I can turn design into living and breathing website, including planning, managing and documenting.</p>
      <p class="bold hire-title">2. You need a front-end developer.</p>
      <p>I can work with latest javascript libraries, such as ReactJS, VueJS or if needed with battle-tested jQuery library. I can also work with SASS, either <a href="http://susy.oddbird.net/" target="_blank">Susy</a> layout toolkit or any other industry standard like Bootstrap.</p>
      <p>I also develop websites that meets <a href="https://www.w3.org/WAI/intro/wcag" target="_blank">Web Content Accessibility Guidelines 2.0 (WCAG)</a> technical standard, published by the <a href="http://www.w3.org/" target="_blank">World Wide Web Consortium (W3C)</a> as best as possible.</p>
      <p class="bold hire-title">3. You need devops.</p>
      <p>I can configure and manage small to medium sized servers. I have experience working with Apache, Nginx, Mysql, MariaDB, Varnish, Memcache, Redis, Couchbase, GlusterFS and many more. I can configure server setup from a single box to a load balanced replicated setup.</p>
    </div>
  </div>
</div>
