#area-of-expertise {
 /* h3 {
    transform: translate(0, 10px);
    opacity: 0;
  }*/
  .progress-bar {
      -webkit-box-shadow: none;
     box-shadow: none; 
     &.hidden-bar {
       width: 0% !important;
     }
  }
}